[submodule "lib/htslib"]
	path = lib/htslib
	url = git://github.com/MauricioCarneiro/htslib.git
[submodule "lib/boost-test"]
	path = lib/boost-test
	url = git://github.com/boostorg/test.git
[submodule "lib/boost-build"]
	path = lib/boost-build
	url = git://github.com/boostorg/build.git
