# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Boost build directory
bin/

# swap and temporary files
.swp
.ycm_extra_conf.pyc
.DS_Store

# doxygen directory
dox/

# vim temporaries
*.swp
.vimbup/

# Haroopad temporaries
*.bak

# Eclipse project files
.settings/
.cproject
.project

# Jekyll site cache
_site/
